{% extends "base.html" %}
{% block content %}
<h1>Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>
<script>
    $(document).ready(function(){
        $('select').change(function(){
            var myvar = $(this).attr('id');
            var id =  Number(myvar.match(/\d+/)[0]) + 2;
            $.ajax({
            url: '/admin/home/usertype/update/' + id +'/' + this.value,
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                // console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
        });
});
</script>
<!-- post form -->
<h3>Admin Portal!</h3>
<br>
<form class="form-message" role="form" method="post" action="">
  <!-- {{ form.csrf_token }} -->

  <div>
    <table>
        <tr>
            <th> UID </th>
            <th> Username </th>
            <th> Email </th>
            <th> Gender </th>
            <th> User Type </th>
            <th> Password </th>
            <th> Delete </th>
        </tr>
        {% for user in form.admin_user %}
        <tr>
                <td>{{ user.uid }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.usertype }}</td>
                {% set my_string = '' %}
                {% set my_string = my_string + user.uid.name + '_admin' %}
                <td><button class="btn btn-sm btn-success" name={{ my_string }} value={{ my_string }} type="submit">Reset Password</button></td>
                {% set my_string = my_string + '_delete' %}
                <td><button class="btn btn-sm btn-success" name={{ my_string }} value={{ my_string }} type="submit">Delete</button></td>
        </tr>
        {% endfor %}
        {% for user in form.users %}
        <tr>
            <td>{{ user.uid }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.usertype }}</td>
            {% set my_string = '' %}
            {% set my_string = my_string + user.uid.name + '_user' %}
            <td><button class="btn btn-sm btn-success" name={{ my_string }} value={{ my_string }} type="submit">Reset Password</button></td>
            {% set my_string = my_string + '_delete' %}
            <td><button class="btn btn-sm btn-success" name={{ my_string }} value={{ my_string }} type="submit">Delete</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
</form>

{% endblock %}