{% extends "base.html" %}
{% block content %}
<h1>Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>
<script>
    $(document).ready(function(){
        $('select').change(function(){
            var myvar = $(this).attr('id');
            var id =  Number(myvar.match(/\d+/)[0]) + 2;
            $.ajax({
            url: '/admin/home/usertype/update/' + id +'/' + this.value,
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                // console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
        });
});
</script>
<!-- post form -->
<h3>Admin Portal!</h3>
<br>
<!-- TODO: Does the table need to be inside this form? -->
<form class="form-message" role="form" method="post" action="">
  <!-- {{ form.csrf_token }} -->

  <div>
    <table>
        <tr>
            <th> UID </th>
            <th> Username </th>
            <th> Email </th>
            <th> Gender </th>
            <th> User Type </th>
            <th> Password </th>
            <th> <img src="https://png.icons8.com/metro/30/000000/delete.png"> </th>
        </tr>
        {% for user in form.users %}
        <tr>
            {% set uidstr = '%d'%(user.uid.data) %}
            <td>{{ user.uid }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>

            {% if user.username.data == "Admin" %}
            <td>Admin</td>
            {% else %}
            <td>{{ user.usertype }}</td>
            {% endif %}

            <td><a href="/admin/home/{{uidstr}}/reset">Reset Password</a></td>
            
            {% if user.username.data != "Admin" %}
            <td><a href="/admin/home/{{uidstr}}/delete">Delete</a></td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>
</div>
</form>

{% endblock %}