{% extends "base.html" %}
{% block content %}

<h1>Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>

<!-- post form -->
<h3>Add a Report!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  <!-- {{ form.csrf_token }} -->
  <p>
    {{ form.eid(placeholder="eid") }}
    <span class="error">
      {% if form.eid.errors %}
        {% for error in form.eid.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.report(placeholder="json report") }}
    <span class="error">
      {% if form.report.errors %}
        {% for error in form.report.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Post</button>
</form>

<!-- All posts -->
<h3>Posts:</h3>
{% for post in posts %}
  <strong>eid:</strong> {{ post.eid }} <br>
  <strong>uid:</strong> {{ post.user.uid }} <br>
  <strong>report:</strong> {{ post.report }} <br>
<br>
{% endfor %}

{% endblock %}